body{
  margin:0;
  font-family:Arial;
  background:#f3f3f3;
}

header{
  background:#000;
  color:#fff;
  padding:20px;
  text-align:center;
  font-size:22px;
}

.products{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
  justify-content:center;
}

.card{
  background:white;
  width:220px;
  padding:10px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.card img{
  width:200px;
  border-radius:10px;
}

button{
  background:black;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

.cart{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 10px rgba(0,0,0,0.2);
}
