body {
  font-family: Arial;
  margin: 0;
  background: #f3f3f3;
}

header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
